.hero-overlay {
    /* Height and width fallback for older browsers. */
    height: 50%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 50vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}
